<div th:switch="${produtos}">
  <h2 th:case="null">Ainda não há produtos!</h2>
  <div th:case="*">
    <h2>Produtos</h2>
    <table>
      <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="produto : ${produtos}">
        <td th:text=" ${produto.nome}"></td>
        <td th:text="${produto.preco}"></td>
        <td th:text="${produto.quantidade}"></td>

        <td><a th:href="@{/editar/{id}(id=${produto.id})}">Editar</a></td>
        <td><a th:href="@{/remover/{id}(id=${produto.id})}">Remover</a></td>


      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/novo-produto">Adicionar um novo produto</a></p>

</div>